In [6]:
import pandas as pd
import json

json_data = [
 {
   "No": 1,
   "JenisKelamin": "Laki-Laki",
   "UmurKaryawan": 20,
   "Gaji": 8000000,
   "Transportasi": "Kendaraan Pribadi"
 },
 {
   "No": 2,
   "JenisKelamin": "Laki-Laki",
   "UmurKaryawan": 35,
   "Gaji": 14000000,
   "Transportasi": "Kendaraan Umum"
 },
 {
   "No": 3,
   "JenisKelamin": "Perempuan",
   "UmurKaryawan": 26,
   "Gaji": 10000000,
   "Transportasi": "Kendaraan Umum"
 },
 {
   "No": 4,
   "JenisKelamin": "Perempuan",
   "UmurKaryawan": 27,
   "Gaji": 12000000,
   "Transportasi": "Kendaraan Pribadi"
 },
 {
   "No": 5,
   "JenisKelamin": "Laki-Laki",
   "UmurKaryawan": 21,
   "Gaji": 9000000,
   "Transportasi": "Kendaraan Pribadi"
 },
 {
   "No": 6,
   "JenisKelamin": "Laki-Laki",
   "UmurKaryawan": 22,
   "Gaji": 11000000,
   "Transportasi": "Kendaraan Pribadi"
 },
 {
   "No": 7,
   "JenisKelamin": "Perempuan",
   "UmurKaryawan": 32,
   "Gaji": 15000000,
   "Transportasi": "Kendaraan Umum"
 },
 {
   "No": 8,
   "JenisKelamin": "Perempuan",
   "UmurKaryawan": 26,
   "Gaji": 8000000,
   "Transportasi": "Kendaraan Umum"
 },
 {
   "No": 9,
   "JenisKelamin": "Laki-Laki",
   "UmurKaryawan": 25,
   "Gaji": 9000000,
   "Transportasi": "Kendaraan Umum"
 },
 {
   "No": 10,
   "JenisKelamin": "Perempuan",
   "UmurKaryawan": 20,
   "Gaji": 10000000,
   "Transportasi": "Kendaraan Pribadi"
 }
]

df = pd.DataFrame(json_data)

In [7]:
def assign_jabatan(row):
    if row >= 8000000 and row < 10000000:
        jabatan = "Officer"
    elif row >= 10000000 and row < 12000000:
        jabatan = "Supervisor"
    elif row >= 12000000 and row < 15000000:
        jabatan = "Asisten Manajer"
    elif row >= 15000000:
        jabatan = "Manager"
    else:
        jabatan = None
    return jabatan

In [8]:
df['Jabatan'] = df['Gaji'].apply(assign_jabatan)
print(df)

   No JenisKelamin  UmurKaryawan      Gaji       Transportasi          Jabatan
0   1    Laki-Laki            20   8000000  Kendaraan Pribadi          Officer
1   2    Laki-Laki            35  14000000     Kendaraan Umum  Asisten Manajer
2   3    Perempuan            26  10000000     Kendaraan Umum       Supervisor
3   4    Perempuan            27  12000000  Kendaraan Pribadi  Asisten Manajer
4   5    Laki-Laki            21   9000000  Kendaraan Pribadi          Officer
5   6    Laki-Laki            22  11000000  Kendaraan Pribadi       Supervisor
6   7    Perempuan            32  15000000     Kendaraan Umum          Manager
7   8    Perempuan            26   8000000     Kendaraan Umum          Officer
8   9    Laki-Laki            25   9000000     Kendaraan Umum          Officer
9  10    Perempuan            20  10000000  Kendaraan Pribadi       Supervisor

In [20]:
print(df['Gaji'].sort_values(ascending=False))
print("Gaji terbesar:", df['Gaji'].max())
print("Gaji terkecil:", df['Gaji'].min())

6    15000000
1    14000000
3    12000000
5    11000000
2    10000000
9    10000000
4     9000000
8     9000000
0     8000000
7     8000000
Name: Gaji, dtype: int64
Gaji terbesar: 15000000
Gaji terkecil: 8000000